body {
    margin: 0;
    font-family: Arial, sans-serif;
    margin: 0px 5%;
    background-color:#2B2A29;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:#303030;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.logo {
    width: 100px;
    height: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.button {
    background-color: #303030;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.Home {
    height: 900px;
    background-image:url(img/Bek.png) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Home h1 {
    margin: 0;
    font-size: 58px;
    color: #ffffff;
}
.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #343a40;
    color: #c7c7c7;
}
.cards h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.card-pac {
    display: flex;
    justify-content:space-around;
    height: 250px;
    gap: 40px;
}
.card1 {
    display: flex;
    flex-direction: column;
}
.card1 button {
    background-color: rgb(123, 180, 36);
    color: rgb(255, 255, 255);
    padding: 3px 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
.card {
    width: 300px;
    height: 290px;
    background-color:#303030;
}

.inf {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.inf div {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
.map {
    width: 500px;
    height: 500px;
}

.Serv {
    color:white;
    font-size: 50px;
}
.Services {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    padding: 0px 60px;
}
.Services div {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.Services img {
    width: 300px;
    height: 260px;
}
.Services a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 28px;
}

.timetable h1 {
    color:white;
    font-size: 50px;
}
.timetable img {
    height:950px ;
    width:1400px ;
}


footer {
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color:#4e4e4e;;
}
.up {
    width: 30px;
    height: 30px;
    background-color:black;
    border-radius:50%;
    margin-top:5px ;
}